



/// TEMPLATE 

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');



//Fonts
$mainfont: 'Alata', sans-serif; // Main font


//Font-sizes
$H1: 48px;
$H2: 40px;
$btn-font-size: 40px;
$input-font-size: 24px;
$components-font-size: 24px;
$paragraph-font-size: 20px;
$link-font-size: 20px;

// TEMPLATE
